@use "mixins" as *;
.project-container {
  margin-top: 100px;
  background-color: #34547a;
  display: flex;
  justify-content: center;
  gap: 49px;
  padding-top: 100px;
  padding-bottom: 100px;
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: #34547a;
  }
  &__item-text {
    display: flex;
    flex-direction: column;
    background-color: #34547a;
    gap: 10px;
  }
  .number {
    @include roboto(500, 21px);
  }
  .word {
    @include roboto(400, 16px);
  }
}
@media screen and (max-width: 480px) {
  .project-container {
    margin-top: 100px;
    background-color: #34547a;
    display: flex;
    justify-content: center;
    gap: 49px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    &__item {
      display: flex;
      align-items: center;
      gap: 15px;
      color: white;
      background-color: #34547a;
    }
    &__item-text {
      display: flex;
      flex-direction: column;
      background-color: #34547a;
      gap: 10px;
    }
  }
  .number {
    @include roboto(500, 21px);
  }
  .word {
    @include roboto(400, 16px);
  }
}
@media screen and (min-width: 480px) and (max-width: 1110px) {
  .project-container {
    margin-top: 100px;
    background-color: #34547a;
    display: flex;
    justify-content: center;
    gap: 49px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    &__item {
      display: flex;
      align-items: center;
      gap: 15px;
      color: white;
      background-color: #34547a;
    }
    &__item-text {
      display: flex;
      flex-direction: column;
      background-color: #34547a;
      gap: 10px;
    }
  }
  .number {
    @include roboto(500, 21px);
  }
  .word {
    @include roboto(400, 16px);
  }
}
